<div class="row">
  <div class="col-md-3">
    <div class="card text-white bg-primary">
      <div class="card-body">
        <h5 class="card-title">Totale Giocatori</h5>
        <p class="card-text">{{ totalPlayers }}</p>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card text-white bg-success">
      <div class="card-body">
        <h5 class="card-title">Valore Mercato Totale</h5>
       <h2 class="card-text">{{ formattedMarketValue }}</h2>
      </div>
    </div>
  </div>
</div>